<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023141717354-13pc39ulb3ar6bs8elr21clopci30upa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023141717354-13pc39ulb3ar6bs8elr21clopci30upa</string>
	<key>API_KEY</key>
	<string>AIzaSyDd56I_FhjtP7ioSRrxdKO0dkb9leZP1vM</string>
	<key>GCM_SENDER_ID</key>
	<string>1023141717354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.KatiRN</string>
	<key>PROJECT_ID</key>
	<string>kati---lovac-na-kataloge</string>
	<key>STORAGE_BUCKET</key>
	<string>kati---lovac-na-kataloge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023141717354:ios:82f9ed92c9d7418419f113</string>
</dict>
</plist>